---
import BaseHead from "../components/Astro/BaseHead.astro";
import Footer from "../components/Astro/Footer.astro";
import Header from "../components/Astro/Header.astro";
const { title } = Astro.props;
import RenderToaster from "../components/RenderToaster";
interface Props {
  title: string;
}
---

<html
  lang="en"
  class="scroll-smooth focus:scroll-auto"
 
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <BaseHead title={title} />
  </head>
  <body
    class="bg-accent to-90% dark:bg-gradient-to-b from-base-300 to-base-100 min-h-screen min-w-screen flex flex-col justify-between"
  >
    <RenderToaster client:load />
    <div class="flex-grow flex flex-col h-full w-full justify-between">
      <Header title={title} client:load />

      <slot />

      <Footer client:load />
    </div>
  </body><script is:inline src="../node_modules/flyonui/flyonui.js"></script>
</html>
